body{
  background-color:#ABC2E8;"

}
table{
  background-color:#f4f6ff;

}
tr{
  background-color: #faeee7;

}
td{
  background-color: #8ccbbe;
}
button{
  color: #FF9A76;
  background-color: #679b9b;
}
option{
  background-color: #7C3C21;
  color: #f9c49a;
}
